<div class="<%= wrapper_class %>">
    <%= f.label field_name, class: "block text-sm font-medium mb-2" %>
    <%= f.text_area field_name, class: "py-3 px-4 block w-full border-gray-200 rounded-lg text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none" %>
</div>